/* Todo list */
.todo-list {
    display: flex;
    flex-direction: column;

    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 2px;
    width: 100%;
    background-color: white;
}

.todo-item {
    padding: 1em;
    display: flex;
    align-items: center;
}

.todo-item:not(:first-child) {
    border-top: 1px solid rgba(0,0,0,.1);
}

.todo-item .checkbox {
    margin-right: .25em;
}

.todo-item.completed .title {
    text-decoration: line-through;
}

.todo-item.completed .title,
.todo-item.completed .material-icons {
    color: lightgray;
}

.todo-item input {
    flex: 1;
    margin-right: 1rem;
}

.todo-item .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

.todo-item:hover .actions {
    opacity: 1;
}
