<form class="todo-form" (ngSubmit)="onSubmit(); todoForm.reset()" #todoForm="ngForm">
    <input type="text" [(ngModel)]="title" name="title" required>
    <button type="submit" name="button" [disabled]="todoForm.form.invalid">Add</button>
</form>
